/deep/ .el-col {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .hero-img-previewer {
    max-width: 100px;
    max-height: 100px;
  }
  .article__editor__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    /deep/ .el-form {
      .el-form-item {
        margin-bottom: 10px;
      }
    }
    /deep/ .ck-editor {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
      box-sizing: border-box;
      .ck-editor__main {
        flex: 1;
        overflow: auto;
        .ck-content {
          height: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
}

/deep/ .el-form.el-form--label-left.el-form--inline {
  text-align: left;
  .el-form-item {
    width: calc(50% - 5px);
    text-align: left;
    &:nth-child(2) {
      margin-right: 0;
    }
    .el-form-item__content {
      width: calc(100% - 80px);
      .el-select {
        width: 100%;
      }
    }
    &.hero-image-form-item {
      width: 100%;
      .el-form-item__content {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
        .el-button {
          margin-top: 0;
          padding: 0;
          line-height: 40px;
        }
      }
    }
  }
}

.hero-image {
  max-width: 100%;
}

.hero-image-input-label {
  color: $highlight;
  margin-right: 12px;
  font-family: '新細明體';
}

.dashboardArticleCard__wrapper.el-loading-parent--relative {
  height: calc(100vh - 60px);
}