// color code
$white:    #fff !default;
$gray-100: #525367 !default;
$gray-200: #474658 !default;
$gray-300: #40404f !default;
$gray-400: #3c3b4a !default;
$gray-500: #3b3b47 !default;
$gray-600: #383745 !default;
$gray-700: #31313D !default;
$gray-800: #23232b !default;
$black:    #000 !default;

$blue: #409EFF;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;

$primary: #007bff;
$highlight: firebrick;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$hover-bg: $blue;
$hover-color: $white;

$scrollbarBG: #CFD8DC;
$thumbBG: #112233;

$nav-height: 136px;